/* Variables */
:root {
  --blue: hsl(184, 100%, 22%);
  --green: hsl(179, 100%, 13%);
  --orange: hsl(31, 77%, 52%);
  --gray: hsl(0, 0%, 95%);
  --color-main: hsla(0, 0%, 100%, 0.75);
  --font-main: 'Lexend Deca', sans-serif;
  --font-heading: 'Big Shoulders Display', cursive;
}

/* General */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: var(--color-main);
  font-family: var(--font-main);
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
}

/* Typography */
h2 {
  font-family: var(--font-heading);
  color: var(--gray);
  text-transform: uppercase;
  margin-top: 0;
  font-size: 2rem;
}

p {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 2rem;
}

/* Cards */
.cards {
  display: flex;
  border-radius: 0.5rem;
  max-width: 920px;
  width: 100%;
  overflow: hidden;
}

.cards-item {
  flex: 1;
  padding: 3rem;
}

.cards-orange {
  background: var(--orange);
}

.cards-blue {
  background: var(--blue);
}

.cards-green {
  background: var(--green);
}

.cards-item p:last-child {
  margin-bottom: 0;
  margin-top: 5rem;
}

.cards-item a {
  border-radius: 4rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--gray);
  background: var(--gray);
  transition: 0.25s ease all;
  display: inline-block;
}

.cards-green a {
  color: var(--green);
}

.cards-blue a {
  color: var(--blue);
}

.cards-orange a {
  color: var(--orange);
}

.cards-item a:hover,
.cards-item a:focus {
  color: var(--gray);
  background: none;
}

.cards img {
  display: block;
  margin-bottom: 2rem;
}

/* Footer */
.attribution {
  margin-top: auto;
  color: var(--green);
  padding: 1rem;
}

.attribution a {
  color: var(--green);
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .cards-item p:last-child {
    margin-top: 0;
  }
}